<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Team Spot Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header gray-bg ion-text-center">
    <img src="./assets/img/user/thanhdao.jpg" class="profile-picture" alt="" />
  </div>

  <!--statistic-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="ion-no-padding" lines="full">
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>
              <div>12</div>
              <div>Followers</div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>
              <div>2</div>
              <div>Reviews</div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            <ion-label>
              <div>1</div>
              <div>Milestones</div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>
              <div>2</div>
              <div>Likes</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list class="ion-no-padding" lines="full">
          <ion-item>
            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
            <ion-label>
              <div>11</div>
              <div>Following</div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="camera-outline" slot="start"></ion-icon>
            <ion-label>
              <div>2</div>
              <div>Contribution</div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="ribbon-outline" slot="start"></ion-icon>
            <ion-label>
              <div>20 kg</div>
              <div>Reduced carbon emission</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
