
ion-content {

  .header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  ion-grid {
    padding: 0;

    ion-col {
      padding: 0;

      & + ion-col {
        border-left: 1px solid var(--ion-color-light-shade);
      }

      ion-list {
        margin-bottom: 0;
      }

    }
  }
}

