.scroll-content {
  padding-bottom: 5rem;
}

.float-search {
  position: fixed;
  width: 100%;
  left: 0;
  top: 1rem;

  .menu-btn {
    position: absolute;
    z-index: 10;
    left: 1.4rem;
    top: 1.6rem;

    &.activated {
      background: none;
    }
  }

  ion-input {
    --padding-start: 2rem;
  }
}

.header {
  height: 30%;
  background: url("../../assets/img/home_header.jpg");
  background-size: 100% auto;
}
