<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="register">
  <div class="auth-bg">
    <div class="bg-filter">
      <!--register form-->
      <div class="middle-align">
        <div>
          <ion-text color="light" class="ion-text-center">
            <h3>Login with email</h3>
          </ion-text>
          <ion-list lines="none">
            <ion-item>
              <ion-input type="text" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top">
              <ion-input type="text" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top">
              <ion-input type="text" placeholder="Home City"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top">
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top">
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button class="ion-no-margin ion-margin-top" expand="block" color="primary" routerLink="/main/tabs">Sign Up</ion-button>
          <div class="ion-margin-top">
            <ion-text color="light">
              <span>By pressing Sign Up you agree with the</span>
            </ion-text>
            <ion-text color="primary">
              <span> Terms of Service</span>
            </ion-text>
            <ion-text color="light">
              <span> and</span>
            </ion-text>
            <ion-text color="primary">
              <span> Privacy Policy</span>
            </ion-text>
          </div>
          <ion-button class="ion-no-margin ion-margin-top" color="medium" expand="block" routerLink="/login">Already have an account?</ion-button>
          <ion-button class="ion-no-margin ion-margin-top" color="gg" expand="block">Sign in with Google</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
